body {
  margin: 0;
  font-family: sans-serif;
  background: black;
  color: white;
}

/* TOP BAR */
.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  color: black;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding: 12px;
  z-index: 1000;
}

/* APP spacing */
.app {
  margin-top: 70px;
  margin-bottom: 80px;
}

/* Screens */
.screen {
  display: none;
  padding: 20px;
  text-align: center;
}

.screen.active {
  display: block;
}

/* Title */
.logo {
  font-size: 50px;
  margin-top: 20px;
}

.title {
  font-size: 45px;
  color: red;
  text-shadow: 0 0 20px red;
}

/* Inputs */
.search, .input {
  width: 90%;
  padding: 15px;
  border-radius: 25px;
  border: none;
  margin: 15px 0;
  font-size: 18px;
  background: #ddd;
}

/* Buttons */
.btn {
  width: 90%;
  padding: 18px;
  margin: 12px 0;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  background: linear-gradient(to right, red, orange, yellow, green, blue);
  color: black;
}

/* Bottom nav */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.nav button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}